/* DEFAULTS */

* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Space Mono', monospace;
}

/* NAVIGATION */

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
}

.nav-name {
    font-size: 2rem;
    cursor: default;
}

.nav-item {
    text-decoration: none;
}

.nav-item:visited {
    color: black;
}

.nav-item:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/*  */